[Desktop Entry]
Version=1.0
Type=Application
Name={name}
GenericName={name}
X-AppImage-Version={version}
Comment=Code Editing. Redefined.
Exec={entrypoint} --unity-launch %F
Icon={icon}
Categories=TextEditor;Development;IDE;
StartupWMClass=Code
StartupNotify=true
Keywords=vscode;Visual Studio Code;Code;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec={entrypoint} --new-window %F
Icon={icon}
